.speech {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background: darkslategray;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  max-width: 320px;
  margin-bottom: 50px;
  line-break: anywhere;
  animation: fadeIn 1s;
}

.speech::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
}

.half-r.speech::after {
  border-right-color: darkslategray;
  bottom: -20px;
  left: 80%;
}

.half-l.speech::after {
  border-right-color: darkslategray;
  bottom: -20px;
  left: 10%;
  transform: scaleX(-1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
