html,
body {
  height: 100%;
  background-color: #292929 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#messageInput {
  width: 70%;
  padding: 0 20px;
  font-size: 14px;
}

#userInput {
  padding: 0 20px;
  font-size: 14px;
}

.chatButtons {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border: none;
  background: darkslategray;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 5px;
  border-radius: 180px;
}

.chatinputs {
  width: 70%;
  height: 50px;
  border-radius: 180px;
  background: darkslategray;
  border: none;
}

.messages {
  width: 70%;
  height: 70%;
  margin: 20px 0;
  border: 1px solid darkslategray;
  padding: 20px;
  overflow-y: scroll;
}

#div-Submit {
  display: flex;
  width: 70%;
  justify-content: center;
}

#uploadImageButton {
  width: 50px;
  margin: 10px 5px;
  background: red;
}
